.buttonGroup {
    & > button {
        margin: 0 4px;
    }
}


.filters {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    overflow: initial;
    min-height: 160px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    padding: 16px;
    margin-bottom: 24px;
    z-index: 210;
    width: calc(100% - 256px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px,
        rgba(0, 0, 0, 0.23) 0px 3px 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* width: calc(100% - 310px); */
}

.filtersCollapsed {
    width: calc(100% - 80px);
}

.table {
    padding: 220px 0 0 0;
    margin: 0 16px;
}
