.title {
    text-align: center;
}

.submit {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.submitButton {
    margin: 0 12px;
}

.checkbox {
    margin: 12px 0;
}

.text {
    margin-top: 14px;
}

.hiddenFormItem:global(.ant-form-item) {
    display: none;
}

.styledFormItem :global(.ant-form-item) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.styledFormItem :global(.ant-input-number) {
    width: 100%;
}
