.filter {
    display: flex;
    justify-content: space-between;
}

.search {
    flex: 0 1 40%;
    margin-bottom: 20px;
}

.buttonGroup {
    flex: 1 1 60%;
    justify-content: flex-end;
    display: flex;
}

.review {
    flex: 0 1 50%;
    justify-content: flex-end;
}
