.detailsTable td {
    vertical-align: top;
}

.sum :global(.ant-input-number-input[disabled]) {
    color: rgba(0, 0, 0, 1);
}

.headerActions {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.deleteIcon {
    font-size: 18px;

    &:hover {
        color: var(--not_complete);
    }
}

.multipleSuggest {
    color: darkred;
}

.multipleSuggest :global(.ant-input) {
    color: darkred;
}

.detailsRequiredFormItem:global(.ant-row.ant-form-item) {
    margin-bottom: 0px;
}

.popconfirm {
    cursor: pointer;
}

.popconfirmDisabled {
    pointer-events: none;
    cursor: not-allowed;
}

.numberColumn {
    text-align: right;
}

.detailNumberInput input{
    text-align: right;
    padding-right: 25px;
}

.disabledIcon {
    font-size: 18px;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.25);
}

.selectedRow {
    background-color: var(--db_reserve);    
    color: var(--text);
    font-weight: 400;
}