.detailsTable td {
    vertical-align: top;
}

.sum :global(.ant-input-number-input[disabled]) {
    color: rgba(0, 0, 0, 1);
}

.headerActions {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.rowActions {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonsBlock {
    &:hover .iconsRow {
        opacity: 1;
        margin-top: 3px;
    }
}

.iconsRow {
    transition-duration: 0.5s;
    transition-delay: 0.25s;
    padding-top: 3px;
    margin-top: -20px;
    border-top: 1px solid #d9d9d9;
    opacity: 0;
    z-index: 0;
}


.deleteIcon {
    font-size: 20px;
    color: var(--text3);

    &:hover {
        color: var(--not_complete);
    }
}

.multipleSuggest {
    color: darkred;
}

.multipleSuggest :global(.ant-input) {
    color: darkred;
}

.detailsRequiredFormItem:global(.ant-row.ant-form-item) {
    margin-bottom: 0px;
}

.popconfirm {
    cursor: pointer;
}

.popconfirmDisabled {
    pointer-events: none;
    cursor: not-allowed;
}

.numberColumn {
    text-align: right;
}

.detailNumberInput input{
    text-align: right;
    padding-right: 25px;
}

.disabledIcon {
    font-size: 18px;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.25) !important;
}

.selectedRow {
    background-color: var(--db_reserve);    
    color: var(--text);
    font-weight: 400;
}

.icon {
    font-size: 20px;
    color: var(--text3);
    cursor: pointer;
    padding: 1px;

    &:hover {
        color: var(--primary) !important;
    }
}

.detailsTableRow {
    & td {
        vertical-align: middle;
    }
}

.ownIcon {
    padding: 0px 8px;
    &:hover > div {
        background-color: var(--primary) !important;
    }
}