.group {
	margin: 0px 0 32px 0;
}

.groupTitle {
	display: flex;
	justify-content: space-between;
	padding: 12px 8px;
	border-top: solid 1px #e8e8e8;
	border-bottom: solid 1px #e8e8e8;
	font-size: 18px;
	margin-bottom: 2px;
}

.groupTable {
	padding: 0px 18px;
}

.arrowUp, .arrowDown{
	margin-right: 5px;
	font-size: 20px;
	vertical-align: sub;
	color: var(--primary);

	&:hover {
		color: var(--secondary);
	}
}

.arrowDisabled {
	cursor: not-allowed !important;
	margin-right: 5px;
	font-size: 20px;
	vertical-align: sub;
	color: var(--text2);
}