.row {
    min-height: 6em;
}

.colText {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    size: 1.2em;
    color: black
}

.vehicleDataHint {
    color: grey;
    /*font-size: 0.9em;*/
    margin-left: 0.5em;
    margin-top: -1.0em;

}