.header {
    display: flex;
    position: fixed;
    width: calc(100% - 256px);
    padding: 0;
    z-index: 120;
    flex: 1 1 100%;
    padding-right: 24px;
}

.headerMenu {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.headerCollapsed {
    width: calc(100% - 80px);
}

.headerWeb {
    display: flex;
    align-items: center;
}

.headerWrapper {
    display: flex;
    flex: 1 1 100%;
    align-items: center;
}

.logo {
    color: #fff;
    width: 268px;
}

.trigger {
    font-size: 24px;
    padding: 0 24px;
    cursor: pointer;
    color: #fff;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.headerWebLink {
    display: flex;
}

.headerPanel {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.headerPanelMobile {
    margin-top: 60px;
    justify-content: space-around;
}

.user {
    display: flex;
    align-items: center;
    color: #fff;
}

.logout {
    margin-left: 16px;
    color: #fff;
    cursor: pointer;

    &:hover {
        color: var(--primary);
    }
}

.siteIcon {
    margin: 0 4px 0 10px;
    font-size: 24px;
    color: #fff;
}

.avatar {
    background-color: var(--secondary);
    margin-right: 5px;
}

.homeIcon {
    font-size: 24px;
    color: #fff;
    margin-right: 10px;

    &:hover {
        color: var(--primary);
        cursor: pointer;
    }
}
