.header {
    display: flex;
    position: fixed;
    width: calc(100% - 256px);
    padding: 0;
    z-index: 120;
    flex: 1 1 100%;
    padding-right: 24px;
}

.headerMenu {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.headerCollapsed {
    width: calc(100% - 80px);
}

.headerWeb {
    display: flex;
    align-items: center;
}

.headerWrapper {
    display: flex;
    flex: 1 1 100%;
    align-items: center;
}

.logo {
    color: #fff;
    width: 268px;
}

.trigger {
    font-size: 24px;
    padding: 0 24px;
    cursor: pointer;
    color: #fff;
    transition: color 0.3s;
}

.trigger:hover {
    color: var(--primary);
}

.headerWebLink {
    display: flex;
}

.headerPanel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.headerPanelMobile {
    margin-top: 60px;
    justify-content: space-around;
}

.user {
    display: flex;
    align-items: center;
    color: #fff;
}

.userName {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 1439px) {
    .userName {
        max-width: 170px;
    }
}

.logout {
    margin-left: 16px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;

    &:hover {
        color: var(--primary);
    }
}

.siteIcon {
    margin: 0 4px 0 10px;
    font-size: 24px;
    color: #fff;
}

.siteIcon:hover {
    color: var(--link);
}

.avatar {
    background-color: var(--secondary);
    margin-right: 5px;
}

.homeIcon {
    font-size: 24px;
    color: #fff;
    margin-right: 10px;

    &:hover {
        color: var(--primary);
        cursor: pointer;
    }
}

.headerInfo {
    color: #fff;
    position: relative;
    flex: 1 1;
    padding: 0 24px;
    justify-content: flex-end;
    display: flex;
    height: 64px;
}

.packages {
    position: absolute;
    top: -16px;
    cursor: pointer;
}

.suggestions {
    position: absolute;
    bottom: -16px;
    cursor: pointer;
}

.normalRow,
.warningRow,
.criticalRow {
    padding: 4px;
    font-size: 14px;
}

.warningRow {
    background: var(--static);
    color: var(--text);
}

.normalRow {
    background: white;
    color: var(--text);
}

.criticalRow {
    background: rgb(255, 216, 216);
    color: var(--text);
}

.leftRow {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.rightRow {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
