.table {
    background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px,
        rgba(0, 0, 0, 0.23) 0px 3px 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    padding: 10px;
}

.mobileTable {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px,
        rgba(0, 0, 0, 0.23) 0px 3px 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
}

.table td {
    vertical-align: middle;
}

.client {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vehicle {
    display: flex;
    text-align: end;
    justify-content: space-between;
}

.vehicle:not(:last-child){
    border-bottom: 1px dashed var(--lightGray);
}

.vehicleNum {
    font-weight: bold;
    margin-right: 10px;
    white-space: nowrap;
}

.lastOrder {
    display: flex;
    flex-direction: column;
}

.lastOrderLink {
    color: var(--link);
    cursor: pointer;
}

.orders {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--lightGray);
    font-weight: bold;
}

.actions {
    display: flex;
    align-items: center;
}

.deleteClientIcon, .editClientIcon {
    font-size: 24px;
    cursor: pointer;
}

.actionsLine {
    width: 2px;
    height: 24px;
    background: var(--lightGray);
    margin: 0 2px;
}

.editClientIcon {
    color: var(--secondary);
}

.deleteClientIcon {
    color: var(--required);
}
