.complexSelect {
	margin: 0 0 16px 0;
}

.listsWrapper {
	display: flex;
	justify-content: space-between;
}

.laborsList, .detailsList {
	height: 500px;
	width: 50%;
    border: 1px solid var(--text4);
    overflow-y: auto;
}

.listTitle {
	font-size: 16px;
    width: 100%;
    background-color: gainsboro;
    font-weight: bold;
    padding: 5px 10px;
}

.listRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 8px 0;
	padding: 0 4px;

	& > * {
		width: min-content;
		padding: 0 4px;
	}
}

.nameField {
	width: 100%;
}

.deleteIcon{
	&:hover {
		color: var(--disabled);
	}
}

.disabledIcon {
	color: var(--text4);
	pointerEvents: none;
}

/* Commentary Button */
.commentaryButtonIcon svg *{
    color: var(--text3);
}

.commentaryContentWrap > div {
    margin-bottom: 15px;
}

.commentarySectionHeader {
    margin-bottom: 5px;
    font-weight: bold;
}

.blockButtonsWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.commentaryBlockButton { 
    width: 30%;
    margin-bottom: 5px;
}