.formContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.filterBlock {
    padding: 10px 0 10px 0;
    min-width: 30%;
}

.row {
    padding: 5px 0 5px 0;
    margin: 5px 0 5px 0;
    display: flex;
    align-items: center;
}

.col {
    /* display: flex;
    justify-content: flex-end;
    align-items: center; */
    padding: 5px;
    display: block !important;
}

.colText {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

.formItemStyle {
    margin: 0 !important;
    display: block !important;
    width: 100% !important;
}

.formItemStyle :global(.ant-col) {
    display: block !important;
    width: 100% !important;
}

.decoratedSelect {
    display: block !important;
    width: 100% !important;
}