.list {
    margin: 16px 0 24px;
}

.listItem :global(.ant-list-item-content) {
    display: block;
}

.form {
    width: 100%;
}

.editClientVehicleFormItem {
    margin-bottom: 0;
}

.editIcon {
    font-size: 24px;
    cursor: pointer;
    color: var(--secondary);

    &:hover {
        color: var(--primary);
    }
}

.carTransferIcon {
    font-size: 24px;
    cursor: pointer;
    color: var(--link);

    &:hover {
        color: var(--paletteColor4);
    }
}

.saveIcon {
    font-size: 24px;
    cursor: pointer;
    color: var(--secondary);

    &:hover {
        color: var(--primary);
    }
}

.deleteIcon {
    font-size: 24px;
    cursor: pointer;
    color: var(--disabled);

    &:hover {
        color: var(--primary);
    }
}

.newOrderIcon {
    font-size: 16px;
}

.vehicleItem {
    &:hover {
         cursor: pointer;
        
     }
}