.list {
    margin: 16px 0 24px;
}

.listItem :global(.ant-list-item-content) {
    display: block;
}

.editClientVehicleFormItem {
    margin-bottom: 0;
}

.editIcon {
    font-size: 24px;
    cursor: pointer;
    color: var(--secondary);

    &:hover {
        color: var(--primary);
    }
}

.saveIcon {
    font-size: 24px;
    cursor: pointer;
    color: var(--secondary);

    &:hover {
        color: var(--primary);
    }
}

.deleteIcon {
    font-size: 24px;
    cursor: pointer;
    color: var(--disabled);

    &:hover {
        color: var(--primary);
    }
}
