.formHeader {
    display: flex;
    flex-direction: column;
}

.headerColumns {
    display: flex;
    justify-content: space-between;
}

.headerCol {
    flex: 0 1 30%;
}

.deliveryDatetime {
    flex: 0 1 30%;
}

.duration {
    width: 45%;
}

/* TODO: rm important */
.durationBlock :global(.ant-form-item) {
    margin-bottom: 0 !important;
}

.duration :global(.ant-form-item-label) {
    text-align: left;
}

.formHeader :global(.ant-calendar-picker),
.formHeader :global(.ant-time-picker) {
    width: 100%;
}

.total {
    display: flex;
    font-weight: bold;
    font-size: 18px;
    background: var(--static);
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    cursor: pointer;
}

.totalSum {
    margin-left: 8px;
    text-decoration: underline;
}

.totalDisabled {
    cursor: disabled;
}

.sumWrapper {
    font-weight: bold;
    margin-right: 8px;
}

.sumNumeral {
    margin-left: 8px;
}

.durationBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deliveryBlock {
    display: flex;
}

.sumBlock:global(.ant-form-item) {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px !important;
}

.sum {
    display: flex;
    flex: 0 1 37.5%;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*  min-width: 922 */
@media screen and (max-width: 1599px) and (min-width: 768px) {
    .total {
        align-items: flex-end;
        width: 100%;
    }

    .sumBlock :global(.ant-form-item-children) {
        flex-wrap: wrap;
    }

    .sum {
        flex: 1 1 auto;
        height: 29px;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 767px) {
    .headerColumns {
        flex-direction: column;
    }
}
