.statusPanel {
    display: flex;
    align-items: flex-end;
}

.selectMargin {
    margin-bottom: 0px;
    margin-right: 10px;
}
.statusSelect {
    margin-bottom: 0px;
    margin-right: 10px;
}
.directory {
    display: flex;
    margin-top: 10px;
}
.directory i {
    margin-right: 10px;
}
.statusTooltip {
    cursor: pointer;
}
/* .statusSelect label {
    display: flex;
    height: 43px;
    width: 250px;
}
.statusSelect .ant-form-item-label {
    width: 100%;
} */
.dateTimePickerBlock {
    display: flex;
    flex-direction: row;
}
.orderDescription {
    display: flex;
    justify-content: space-between;
}
.questionIcon {
    cursor: pointer;
    font-size: 25px;
}

.labelTooltip {
    display: flex;
}
@media (max-width: 500px) {
    .infoDirectory {
        display: flex;
        flex-direction: column;
    }
    .infoDirectoryName {
        width: 100%;
        font-weight: bold;
    }

    .orderDescription {
        flex-direction: column;
    }
}
.infoDirectory {
    display: flex;
}
.infoDirectoryName {
    width: 20%;
    font-weight: bold;
}
.info{
    width:100%
}
