.callsStatistics {
    display: flex;
    justify-content: center;
}

.pies {
    display: flex;
    justify-content: space-between;
}

.piesRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pieChart {
    justify-content: flex-start;
}

.column {
    flex: 0 1 50%;
    width: 50%;
}

.barControls {
    margin: 18px 0;
    display: flex;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: space-between;
}

.controlIcon {
    font-size: 32px;
    margin: 0 24px;
    cursor: pointer;
}

.controlText {
    font-size: 14px;
}

.totalIcon {
    color: var(--primary);
}

.answeredIcon {
    color: var(--secondary);
}

.missedIcon {
    color: var(--warning);
}

.busyIcon {
    color: var(--approve);
}
