.loginForm {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: white;
    padding: 24px;
}

@media screen and (max-width: 1199px) {
    .loginForm {
        width: 90%;
    }
}