.diagnosticTableHeader{
    display: flex;
    height: 55px;
    margin: 10px 0;
    border-bottom: 1px solid #e8e8e8;
}

.diagnosticTable th > span{
    width: 100%;
}

.diagnosticTable td {
    vertical-align: middle;
}

.filter_column_header_wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95px;
    width: 100%;
}

.filter_input{
    margin-top: 10px;
    width: 60px;
    text-align: center;
    pointer-events: none;
}

.filter_button_wrap{
    width: 60px;
    margin-right: 10px;
}

.filter_half_button{
    width: 50%;
    border-radius: 0px;
    padding: 0;
    pointer-events: none;
    border: none;
    box-shadow: none;
}

.disabled_button{
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    text-shadow: none;
    box-shadow: none;
}

.delete_diagnostic_button{
    margin-left: 5px;
}

.delete_diagnostic_button:hover{
    color: rgb(255, 77, 79);
}

.diagnostic_status_button_wrap {
    display: flex;
    justify-content: space-between;
}

.diagnostic_status_button{
    width: 30%;
}

.diagnostic_status_button_edit{
    width: 100%;
}

:global(.ant-table-header){
    margin-bottom: 0px !important;
}

.confirm_diagnostic_modal_wrap{
    display: flex;
    justify-content: space-between;
}

.confirm_diagnostic_modal_element{
    width: 33%;
    padding: 5px;
    border-right: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}

#diagnosticModalServices, #diagnosticModalDetails{
    display: block;
}

.confirm_diagnostic_modal_element_title{
    font-size: 15px;
    width: 100%;
    background-color: gainsboro;
    font-weight: bold;
    padding: 5px 10px;
}

.confirm_diagnostic_modal_element_content{
    max-height: 500px;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    padding: 10px;
}

.confirm_diagnostic_modal_row_title{
    font-size: 15px;
    font-weight: bold;
    margin: 5px 0;
}

.confirm_diagnostic_modal_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3px;
    padding: 3px 7px;
}

.confirm_diagnostic_modal_row_button{
    display: flex;
    justify-content: space-between;
}