.STOPPED {
	background-color: var(--db_not_complete);

	& > td {
		background-color: var(--db_not_complete) !important;
	}

	&:hover > td {
		background-color: #f3e6f5 !important;
	}
}

.IN_PROGRESS {
	background-color: var(--db_progress);

	& > td {
		background-color: var(--db_progress) !important;
	}

	&:hover > td {
		background-color: #f3e6f5 !important;
	}
}

.DONE {
	background-color: var(--db_success);

	& > td {
		background-color: var(--db_success) !important;
	}

	&:hover > td {
		background-color: #f3e6f5 !important;
	}
}

.CANCELED {
	background-color: var(--db_cancel);

	& > td {
		background-color: var(--db_cancel) !important;
	}

	&:hover > td {
		background-color: #f3e6f5 !important;
	}
}

.laborStageButtonsGroup {
	& > * {
		margin: 0 2px;
	}
}

.greenButton {
	color: var(--text3);
	background-color: var(--green);
	border-color: transparent;
	&:hover {
		color: var(--text3);
		background-color: var(--green);
		border-color: var(--text3);
	}
}

.redButton {
	color: var(--text3);
	background-color: var(--db_not_complete);
	border-color: transparent;
	&:hover {
		color: var(--text3);
		background-color: var(--db_not_complete);
		border-color: var(--text3);
	}
}

.yellowButton {
	color: var(--text3);
	background-color: rgb(255, 255, 0);
	border-color: transparent;
	&:hover {
		color: var(--text3);
		background-color: rgb(255, 255, 0);
		border-color: var(--text3);
	}
}