image: node:8.9.4

stages:
  - deploy

deploy_dev:
  stage: deploy
  only:
    - dev
  script:
    - apt-get update && apt-get install --yes sshpass
    - yarn install --unsafe-perm
    - NODE_ENV=production yarn run build:dev
    - export SSHPASS=$DEPLOY_PASS
    - tar czf - build configs | sshpass -e ssh -o StrictHostKeyChecking=no $DEPLOY_USER@$DEPLOY_DEV_HOST "mkdir -p $DEPLOY_PATH && cd $DEPLOY_PATH && tar xzf -"

  cache:
    key: ${CI_BUILD_REF_NAME}
    paths:
      - node_modules/

deploy_stage:
  stage: deploy
  only:
    - stage
  script:
    - apt-get update && apt-get install --yes sshpass
    - yarn install --unsafe-perm
    - NODE_ENV=production yarn run build:stage
    - export SSHPASS=$DEPLOY_PASS
    - tar czf - build configs | sshpass -e ssh -o StrictHostKeyChecking=no $DEPLOY_USER@$DEPLOY_TEST_HOST "mkdir -p $DEPLOY_PATH && cd $DEPLOY_PATH && tar xzf -"

  cache:
    key: ${CI_BUILD_REF_NAME}
    paths:
      - node_modules/

deploy_prod:
  stage: deploy
  when: manual
  only:
    - master
  variables:
    NODE_ENV: production
  script:
    - apt-get update && apt-get install --yes sshpass
    - yarn install --unsafe-perm
    - NODE_ENV=production yarn run build:prod
    - export SSHPASS=$DEPLOY_PASS
    - tar czf - build configs | sshpass -e ssh -o StrictHostKeyChecking=no $DEPLOY_USER@$DEPLOY_PROD_HOST "mkdir -p $DEPLOY_PATH && cd $DEPLOY_PATH && tar xzf -"

  cache:
    key: ${CI_BUILD_REF_NAME}
    paths:
      - node_modules/
