.mobileRecordFormFooter {
    display: flex;
    justify-content: space-around;
    margin: 24px 48px;
}

.mobileRecordSubmitBtn {
    margin: 0 10px;
    flex: 0 1 40%;
}

.datePanelItem :global(.ant-calendar-picker),
.datePanelItem :global(.ant-time-picker) {
    width: 100%;
}

.mobileRecordFormTimePicker {
    width: 100%;
}

.diagnostic_title {
    border: 1px solid red;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.diagnostic{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
    margin-top: 5px;
    padding: 10px 5px;
}

.diagnistic_info_up {
    display: flex;
    justify-content: space-between;
}

.diagnostic_status_button_wrap{
    width: 100%;
    text-align: right;
    margin-right: 5px;
    display: flex;
    justify-content: space-around;
}

.diagnostic_edit_button_wrap{
    width: 100%;
    text-align: right;
    margin-right: 0px;
    display: flex;
    justify-content: space-around;
}

.diagnostic_key{
    padding: 0 15px;
    align-items: center;
    display: flex;
    font-weight: bold;
}

.diagnostic_detail {
    width: 46%;
    font-weight: bold;
    padding-right: 5px;
}

.diagnistic_commentary_button {
    margin-right: 5px;
}

.diagnostic_buttons {
    display: flex;
    margin-top: 2px;
    justify-content: flex-end;
}