.container {
    display: flex;
    align-items: center;
}

.datePicker {
    width: 250px;
}

.datePicker input {
    text-transform: capitalize;
}

.icon {
    cursor: pointer;
    padding: 0 10px;
    border: none;

    &:hover {
        color: var(--primary);
    }
}
