.stationLoadsTable :global(.table-small) {
    padding: 0;
}

.status {
    display: flex;
    align-items: center;
}

.deleteIcon {
    color: var(--warning);
    font-size: 24px;
}

.staticStationLoadsRow {
    background: var(--static);
}

.newStationLoadsRow {
    background-color: rgba(11, 127, 0, 0.28);
}

.editedStationLoadsRow {
    background-color: rgba(255, 45, 45, 0.28);
}
