/* .importTable :global(td) {
    display: flex;
} */

.duplicateRow {
    /* background-color: rgba(255, 45, 45, 0.28);
    pointer-events: none; */
    cursor: not-allowed;
}
.duplicate input {
    background-color: rgba(255, 45, 45, 0.28);
    pointer-events: none;
    cursor: not-allowed;
}
.duplicate :global(.ant-select-selection__rendered) {
    background-color: rgba(255, 45, 45, 0.28);
    pointer-events: none;
    cursor: not-allowed;
}
