.employeesTableIcon {
    cursor: pointer;
    font-size: 25px;
}

.employeeName:hover {
    color: var(--link);
}

.jobTitle {
    color: var(--primary);
}

.fired {
    color: var(--warning);
    font-weight: bold;
}

.fireReason {
    color: var(--text);
    font-weight: normal;
    font-size: 12px;
}

.working {
    color: var(--secondary);
    font-weight: bold;
}

.ratingStars,
.managerIcon {
    color: var(--secondary);
}

.managerIcon {
    font-size: 24px;
}
