* {
    box-sizing: border-box;
}

.mainCont {
    background-color: white;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
}

.filterCont {
    width: 30%;
    background-color: transparent;
}

.statsCont {
    background-color: white;
    padding-left: 5px;
    width: 70%;
    overflow: scroll;
}

.filterCont, .statsCont {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .headerBlock {
    
}

.headerFilter {

} */