.modalInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selectedRow {
    background-color: var(--db_reserve);    
    color: var(--text);
    font-weight: 400;
}