.controls {
    display: flex;
}

.buttonGroup {
    & > button {
        margin: 0 2px;
    }
}

.filter {
    display: flex;
    justify-content: space-between;
    background: white;
    position: fixed;
    z-index: 130;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    width: calc(100% - 256px);
    padding: 10px 16px;
}

.buttonFilterGroup {
    flex: 1 1 60%;
    justify-content: flex-end;
    display: flex;
}

.review {
    flex: 0 1 50%;
    justify-content: flex-end;
}

.cancelReasonSelect {
    flex: 0 1 40%;
}
.myTasksWrapper {
    padding: 80px 0 0 0;
    margin: 0 16px;
}
