.CheckboxBlock {
    display: flex;
    flex-wrap: wrap;
}
.CheckboxBlock .ant-input {
    display: none;
}
.CheckboxBlock label {
    display: flex;
    flex-direction: column;

    align-items: center;
}
.Hours {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.InputBlock {
    display: none;
}
.MainBlock {
    padding: 24px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    margin-bottom: 10px;
}
.AddButton {
    margin-right: 10px;
}
