.scheduleIcon {
    font-size: 20px;
    cursor: pointer;
}

.newSchedule {
    display: flex;
    align-items: center;
    margin: 24px auto;
}

.scheduleFormItem {
    margin-bottom: 0;
}

.newScheduleRow {
    background-color: rgba(11, 127, 0, 0.28);
}

.editedScheduleRow {
    background-color: rgba(255, 45, 45, 0.28);
}
