.CheckboxBlock {
    display: flex;
}
.CheckboxBlock .ant-input {
    display: none;
}
.CheckboxBlock label {
    display: flex;
    flex-direction: column;

    align-items: center;
}
.Hours {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.InputBlock {
    display: none;
}
