:global(.ant-select) {
    display: list-item;
}

.tableWrap {
    padding: 15px 0;
    border-bottom: 1px solid #8c8c8c;
}

.modalSectionTitle {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}

.brandColumn {
    vertical-align: top;
}

.groupsTreeSelect {

}

.groupTreeOption {
    
}

.detailNumberInput input{
    text-align: right;
    padding-right: 25px;
}

/* Commentary Button */
.commentaryButtonIcon svg *{
    color: rgba(0, 0, 0, 0.65);
}

.commentaryContentWrap > div {
    margin-bottom: 15px;
}

.commentarySectionHeader {
    margin-bottom: 5px;
    font-weight: bold;
}

.blockButtonsWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.commentaryBlockButton { 
    width: 30%;
    margin-bottom: 5px;
}

/*VIN Code Modal Styles*/
.vinModal {
    display: flex;
    position: relative;
}

.categoryTitle {
    font-size: 20px;
    font-weight: 500;
    padding: 6px 8px;
    background: var(--lightGray);
    text-transform: uppercase;
}

.categoryList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.categoryItem {
    width: 31%;
    min-width: 280px;
    margin-bottom: 2%;

    &:hover {
        /*border: 1px solid var(--text2);*/
        box-shadow: 0 0 1px 0px black;
    }
}

.categoryName {
    font-size: 18;
    text-transform: uppercase;
    text-align: center;
}

.imgWrap {
    width: 60%;
    max-height: 480px;
    border-left: 1px solid rgb(232 232 232);
    border-bottom: 1px solid rgb(232 232 232); 
    overflow: scroll;
    &:hover {
        
    }
}

.zoomBlock {
    position: relative;
}

.zoomBlockItem {
    position: absolute;
    cursor: pointer;
    font-Size: 18px;
    font-Weight: 500px;
    border: solid var(--text2) 1px;
    text-align: center;
   
    z-index: 100;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */   
}

.imageName {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 16px;
    text-transform: uppercase;
    width: 65%;
    text-align: center;
}

.zoomActionBlock {
    display: flex;
    margin: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
}

.zoomBlock img {

}

.listWrap {
    width: 40%;
    max-height: 480px;
    overflow: scroll;
    border-bottom: 1px solid rgb(232 232 232);
    border-right: 1px solid rgb(232 232 232);

    &::-webkit-scrollbar { width: 0; }
}

.infoActionButtonCol {
    pointer-events: none;
}

.listTableRow > td{
    vertical-align: middle;
}

.hoveredItem {
    border: solid var(--db_reserve) 3px;
    z-index: 200;
}

.tableRowHovered {
    background: var(--db_reserve);
}

.checkedItem{
    border: solid var(--primary) 5px;
}

.checkedRow {
    background: var(--primary);
    z-index: 150;
}

.hoveredItem.checkedItem {

}

.tableRowHovered.checkedRow > td {
    background: var(--db_reserve) !important;
}
/*VIN Code Modal Styles End*/