.table {
    min-width: 0 !important;
    padding: 5px;
    width: 100%;
}

.table :global(.ant-table-header) {
    text-transform: uppercase;
    min-width: 0 !important; /*IMPORTANT it solves antd table issue when scrolling is added*/
    font-size: 0.8em;
    font-style: bold;
    padding: 0;
}

.table :global(.ant-pagination) {
    float: none;
    justify-content: center;
    display: flex;
}

.table :global(th) {
    padding: 6px 4px 6px 4px !important; /*Remove bug: when text overflows, header shifts left*/
}

.tableRow {
    background-color: rgb(240, 240, 240);
}

.tableCont {
    border-radius: 0.8em;
    padding: 0.2em;
    background-color: rgb(216, 216, 216);
    margin: 0.4em;
    width: 100%;
}

.clientPhone {
    color: var(--link);
    padding: 4px;
}

.clientLink {
    display: flex;
    align-items: center;
    min-height: 1.5em;
    margin-left: 15px;
    color: rgb(68, 68, 68);
    font-size: 1.2em;
}

.filtersCont {
    display: flex;
    justify-content: center;
    padding: 0.1em 0.4em 0.1em 0.4em;
    margin-bottom: 0.2em;
    background-color: rgb(209, 209, 209);
    border-radius: 0.4em;
}

.textCont {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    align-items: center;
}

.inputCont {
    width: 70%;
}

.vehicle {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.vin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vin, .vehicle {
    height: 3em;
}

.newOrderIcon {
    font-size: 16px;
}

.debt {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--lightGray);
    font-weight: bold;
}