.block {
    border: 1px solid black;
    border-radius: 2em;
    width: 90%;
    min-width: 30vh;
    min-height: 20vh;
    padding: 0.4em 2em 0.2em 1em;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 1.5em;
}

.title, .controls {
    display: flex;
    align-items: center;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}

.content {
    margin: 0.5em 1.5em 0.2em 1.5em;
}