.table th {
    word-break: keep-all;
}

.unregisteredIcon, .sendSMS, .sendMailIcon, .printIcon, .editIcon, .downloadIcon {
    display: inline-block;
    margin-left: 8px;
    font-size: 24px;
    color: black;
}

.printIcon {
    color: var(--primary);
}

.editIcon {
    color: var(--secondary);
}

.unregisteredIcon {
    color: red;
}

.sendMailIcon {
    color: blue;
}

.downloadIcon {
    color: orange;
}

.unregisteredCashOrder {
    background-color: rgba(255, 102, 102, 0.4);
}

.breakWord {
    word-break: break-word;
}

.noBreak {
    word-break: keep-all;
}

/* If component has this class it will be unclickable */
.disabled{
    pointer-events: none;
    color: rgb(172, 172, 172);
}