.table th {
    word-break: keep-all;
}

.printIcon {
    font-size: 24px;
    color: var(--primary);
}

.editIcon {
    font-size: 24px;
    color: var(--secondary);
}

.unregisteredIcon, .sendSMS, .sendMail {
    font-size: 24px;
    color: black;
}

.unregisteredIcon {
    color: red;
}

.sendMail {
    color: blue;
}

.unregisteredCashOrder {
    background-color: rgba(255, 102, 102, 0.4);
}

.breakWord {
    word-break: break-word;
}

.noBreak {
    word-break: keep-all;
}
