.table th {
    word-break: keep-all;
}

.printIcon {
    font-size: 24px;
    color: var(--primary);
}

.editIcon {
    font-size: 24px;
    color: var(--secondary);
}

.unregistredIcon, .sendSMS, .sendMail {
    font-size: 24px;
    color: black;
}

.breakWord {
    word-break: break-word;
}

.noBreak {
    word-break: keep-all;
}
