:global(.ant-select) {
    display: list-item;
}

.tableWrap {
    padding: 15px 0;
    border-bottom: 1px solid #8c8c8c;
}

.modalSectionTitle {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}

.mobileTableEmployee {
    width: 84%;
    display: inline-block;
}

.mobileTableComment {
    width: 16%;
    display: inline-block;
    text-align: end;
}

.mobileTable {
    margin: 0px 0px 8px;
}

.mobileTableNumber {
    width: 33%;
    display: inline-block;
}

.mobileTableSum {
    width: 33%;
    display: inline-block;
    text-align: end;
}

/* Commentary Button */
.commentaryButtonIcon svg *{
    color: rgba(0, 0, 0, 0.65);
}

.commentaryContentWrap > div {
    margin-bottom: 15px;
}

.commentarySectionHeader {
    margin-bottom: 5px;
    font-weight: bold;
}

.blockButtonsWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.commentaryBlockButton { 
    width: 30%;
    margin-bottom: 5px;
}