.editPackageIcon {
    cursor: pointer;
    font-size: 25px;
}

.deletePackageIcon {
    cursor: pointer;
    font-size: 25px;
}

.viewPackageIcon {
    cursor: pointer;
    font-size: 25px;
}

.addPackageButton {
    width: 30%;
    margin: 10px auto;
}
