@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.loader {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation {
    width: 40px;
    height: 40px;
    animation: spin 1.2s infinite linear;
    border-top: 4px solid var(--paletteColor2);
    border-right: 4px solid var(--paletteColor2);
    border-bottom: 4px solid var(--paletteColor4);
    border-left: 4px solid var(--paletteColor4);
    border-radius: 50%;
}
