.tableWrapper {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 1600px) {
        flex: 0 1 47.5%;
    }
}

.tableHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.tableHeadText {
    color: var(--primary);
}

.purchaseButton {
    text-align: center;
    margin: 24px;
}
