.universalFiltersModal :global(.ant-modal-body) {
    height: 45vh;
}

.universalFiltersModal :global(.ant-modal-footer) {
    text-align: center;
}

.universalFiltersModal :global(.ant-calendar-picker) {
    flex: 0 1 100%;
}
