.table :global(.ant-table-thead > tr > th > span > span) {
    white-space: nowrap;
}


.orderLink {
    color: var(--link);
}

.orderLink:hover {
    color: var(--primary);
}

.datetime {
    display: flex;
    flex-direction: column;
    width: 75px;
}

.client {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    margin: 2px;
    background-color: rgb(233, 231, 231);
    border: 2px solid grey;
    border-radius: 0.5em;
}