.table :global(.ant-table-thead > tr > th > span > span) {
    white-space: nowrap;
}


.orderLink {
    color: var(--link);
}

.orderLink:hover {
    color: var(--primary);
}

.datetime {
    display: flex;
    flex-direction: column;
    width: 75px;
}
