.employeePage {
    display: flex;
    justify-content: space-between;
}


.employeeSection {
    flex: 0 1 50%;
}

.employeeTabs {
    overflow: scroll;
    min-height: 360px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px,
        rgba(0, 0, 0, 0.23) 0px 3px 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 0 1 80%;
}

.employeesList {
    overflow: initial;
    min-height: 360px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px,
        rgba(0, 0, 0, 0.23) 0px 3px 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 0 1 20%;
}

.employeesList :global(.ant-list) {
    max-height: 700px;
    overflow: scroll;
}

.listItem {
    cursor: pointer;
}

.listItem:hover {
    background-color: rgba(var(--primaryRGB), .2);
}

.listItemActive, .listItemActive:hover {
    background-color: var(--primary);
}

.listItemActive .employeeListItem :global(.ant-list-item-meta-title) {
    color: var(--paletteColor2);
    font-weight: bold;
}
.listItemActive .employeeListItem :global(.ant-list-item-meta-description) {
    color: var(--static);
}
