.agreementPage {
    width: 80%;
    border: 1px solid #e8e8e8;
    margin: 0 auto;
    padding: 25px;
}

.businessInfo {
    padding: 5px 10px;
}

@media screen and (max-width: 1199px) {
    .businessInfo {
        background: #ffdd55;
        display: flex;
        justify-content: space-between;
    }
}

.phoneNumber {
    color: #b37eb0
}

.vehicleInfoWrap{
    display: flex;
    justify-content: start;
    border-bottom: 1px solid black;
}

.vehicleInfo{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.agreementHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

div.columnHeader{
    font-weight: normal;
    font-style: normal;
    padding: 5px;
}

.sectionHeader {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    background: #dcdcdc;
}

.servicesWrap, .detailsWrap{
    margin-bottom: 20px;
}

.serviceElement, .detailElement{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
    align-items: center;
}

.disabledRow{
    background: #dcdcdc;
    color: #808080;
    background: #efefef;
}

.rowKey {
    width: 3%;
    font-weight: bold;
}

.rowName {
    width: 25%;
}

.rowComment {
    width: 35%;
    font-style: italic;
}

.rowPrice {
    width: 10%;
}

.rowCount {
    width: 10%;
}

.rowSum {
    width: 10%;
    font-weight: bold;
}

.rowSwitch {
    width: 7%;
}

.totalWrap{
    display: flex;
    justify-content: flex-end;
    padding: 15px 10px 0 0;
    font-size: 18px;
}

.totalSum{
    font-weight: bold;
    padding: 0 0 0 10px;
}

.agreementTotalSum{
    font-size: 20px;
}

.commentaryTextArea{
    resize: none;
}

@media screen and (max-width: 1199px) {
    * {
        -ms-overflow-style: none;
        margin: 0;
        padding: 0;
    }

    *::-webkit-scrollbar {
        display: none;
    }

    .agreementPage {
        width: 100%;
        height: 100%;
        padding: 75px 0 0 0;
        border: none;
    }

    .agreementHeader{
        background: #ffdd55;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        height: 75px;
        z-index: 10;
        padding: 15px 15px;
        border: none;
        box-shadow: 0px 2px 5px -5px black;
        align-items: center;
        font-weight: bold;
        font-size: 18px;
    }

    .servicesWrap, .detailsWrap{
        margin-bottom: 0;
    }

    .sectionHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 15px 10px;
        border: none;
        background: #dcdcdc;
        box-shadow: 0px 1px 3px 1px #e6e6e6;
    }

    .serviceElement, .detailElement {
        text-align: left;
    }

    .commentElement{
        padding: 15px 10px;
    }
}