.myTasks {
   
}

.editOrderTaskIcon {
    cursor: pointer;
    font-size: 25px;
}

.searchRow {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 15px;
}

.commentDiv {
    white-space: nowrap;
    word-break: break-all;
    width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 0;
    padding-right: 0;
}
