.editOrderTaskIcon {
    cursor: pointer;
    font-size: 25px;
}
.searchRow {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 15px;
}
.commentDiv {
    white-space: nowrap;
    word-break: break-all;
    width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 0;
    padding-right: 0;
}
.myTasks :global(.ant-pagination) {
    float: none;
    justify-content: center;
    display: flex;
}
.TableMyTasks :global(.ant-table-body) {
    position: unset !important;
}
.paper {
    overflow: initial;
    min-height: 360px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px,
        rgba(0, 0, 0, 0.23) 0px 3px 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    flex-direction: column;
}
