.editOrderTaskIcon {
    cursor: pointer;
    font-size: 25px;
}
.commentDiv {
    white-space: nowrap;
    word-break: break-all;
    width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 0;
    padding-right: 0;
}
.myTasks :global(.ant-pagination) {
    float: none;
    justify-content: center;
    display: flex;
}
.TableMyTasks :global(.ant-table-body) {
    position: unset !important;
}
