.container {
	padding: 16px 18px;
}

.barcodeInput {
	display: flex;
    white-space: nowrap;
    align-items: center;
    margin: 0 0 14px;
    height: 36px;

    & > input {
        height: 100%;
        font-size: 15px;
    }
}

.buttonBlockWrapp {
	margin: 12px 0 0 0;
}

.buttonBlock {
	display: flex;
    align-items: stretch;
    margin: 8px;
    min-height: 48px;
}

.buttonBlockTitle {
	width: 15%;
    display: flex;
    align-items: center;
}

.buttonWrapp {
	width: 17%;
	padding: 4px;
}

.button {
	width: 100%;
    white-space: normal;
    height: 100%;
}

.modalInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 18px;
}

.selectedRow {
    background-color: var(--db_reserve);
}