.weekPicker {
    display: flex;
    align-items: center;
}

.mobileWeekPicker {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > :global(.ant-calendar-picker) {
        width: 100%;
    }
}

.icon {
    cursor: pointer;
    padding: 0 10px;
    border: none;

    &:hover {
        color: var(--primary);
    }
}

.weekDays {
    /* background: white;
    border: 1px var(--text3) solid; */
    margin-left: 10px;
}
