.controls {
    display: flex;
}

.filters {
    margin: 0 16px;
}

.buttonGroup {
    & > button {
        margin: 0 2px;
    }
}

.ordersWrrapper {
    padding: 260px 0 0 0;
    margin: 0 16px;
}

.funelWithFilters {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    overflow: initial;
    min-height: 160px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px,
        rgba(0, 0, 0, 0.23) 0px 3px 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    padding: 16px;
    margin-bottom: 24px;
    z-index: 1100;
    width: calc(100% - 256px);
    /* width: calc(100% - 310px); */
}
