.container {
    display: inline-flex;
    flex-direction: column;
    min-height: 2em;
    min-width: 4em;
    padding: 0.4em;
}

.label {
    color: rgb(172, 172, 172);
}

.content {
    color: black;
    padding-top: 0.1em;
    font-size: 1.2em;
}