.icon {
    font-size: 16px;
}
/*
.reserve {
    font-size: 18px;
    color: var(--reserve);
}

.notComplete,
.required {
    color: var(--not_complete);
}

.approve {
    color: var(--approve);
}

.progress {
    color: var(--progress);
} */

.phone {
    color: var(--success);
}

.noAnswer {
    color: var(--cancel);
}
