.footer {
    /* margin-left: 272px; /* aside */
    */margin: 0 12px;
    /* margin-right: 12px; */
    padding: 12px 0;
    display: flex;
    align-items: center;
    color: var(--text2);
    flex-direction: column;
}

/* .footerCollapsed {
    margin-left: 96px;
} */

.contacts {
    text-align: center;
}

.logo {
    width: 70px;
}

.copyright {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.link {
    color: var(--link);
}
