* {
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: "TTCommons", system-ui;
    background-color: var(--paletteColor2);
    color: var(--text);
    /* Зачаровать шрифты */
    font-smoothing: antialiased;
    font-variant-ligatures: none;

    /* Фикс для мобильного сафари, чтобы при поторотах он не склеивал, не терял контент.
    ** Префиксы установлены вручную, так как на момент 13.03.2018 autoprefixer этого не делал автоматически.
    */
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    -webkit-tap-highlight-color: var(--primary);
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

body .withScroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

body .withScroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(to left, #fff, var(--primary));
    border: 1px solid #aaa;
}

body .withScroll::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

body .withScroll::-webkit-scrollbar-thumb:active {
    background: linear-gradient(to left, #22add4, #1e98ba);
}

a {
    color: var(--text);
    text-decoration: none;
}

#app {
    display: flex;
    flex-flow: column;
    height: 100%;
}

/* antd customize */
.ant-modal-wrap,
.ant-modal-mask {
    z-index: 2000;
}

.ant-notification {
    z-index: 2200;
}

.ant-layout .ant-layout-has-sider {
    height: 100%;
}

.drawer.drawer-open .drawer-mask {
    animation: none;
}

.bg-success {
    background-color: var(--secondary);
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
    padding: 4px;
}
