:root {
    --paletteColor1: #000;
    --paletteColor2: #fff;
    --paletteColor3: #090c14;
    --paletteColor4: #52b3ff;
    --paletteColor5: #2b2e3f;
    --paletteColor6: #151723;
    --paletteColor7: #474b68;
    --lightGray: rgba(214, 215, 218, 0.5);

    --rgbaColor1: rgba(0, 0, 0, 0.9);
    --rgbaColor2: rgba(0, 0, 0, 0.25);

    --layout: rgba(0, 21, 41, 1);

    --primary: rgb(155, 89, 182);
    --secondary: rgb(81, 205, 102);
    --link: rgb(82, 179, 255);
    --blocks: rgba(0, 22, 40, 1);
    --moduleHeader: rgba(247, 247, 247, 1);
    --errorBG: rgba(236, 16, 28, 0.2);
    --warning: rgb(255, 126, 126);
    --text: #001529;
    --text2: rgba(0, 0, 0, 0.45);
    --text3: rgba(67, 78, 89, 1);
    --text4: rgba(0, 0, 0, 0.35);

    --static: rgb(254, 241, 208);

    /* Statuses */
    --not_complete: rgb(255, 126, 126);
    --required: rgb(255, 126, 126);
    --reserve: rgb(107, 99, 153);
    --approve: rgb(251, 158, 62);
    --progress: rgb(62, 186, 162);
    --success: rgb(26, 156, 234);
    --cancel: rgb(198, 198, 198);
    --invite: rgb(143, 56, 48);

    --disabled: rgb(255, 126, 126);
    --enabled: rgb(62, 186, 162);

    /* RGB */
    --primaryRGB: 155, 89, 182;
    --primaryDarkRGB: 117, 63, 143;
    --secondaryRGB: 76, 201, 105;
    --secondaryDarkRGB: 0, 170, 30;
    --linkRGB: 82, 179, 255;
    --warningRGB: 255, 126, 126;
}
