.content {
    display: grid;
    grid-row: span 3;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30px 30px;
}

.order {
    background: darkblue;
    border: 1px solid lightblue;
    /* padding: 4px;
    margin: 4px; */
    color: white;
    min-height: 30px;
    /* height: 30px; */
}

.order1 {
    background-image: linear-gradient(203deg, #3edfd7 0%, #29a49d 90%);
    border: 1px solid lightblue;
    /* padding: 4px;
    margin: 4px; */
    color: white;
    min-height: 30px;

    grid-row: span 3;
    /* height: 30px; */
}
.order2 {
    background-image: linear-gradient(
        203deg,
        rgba(249, 198, 103, 1) 6%,
        rgba(247, 150, 33, 1) 89%
    );
    border: 1px solid lightblue;
    /* padding: 4px;
    margin: 4px; */
    color: white;
    min-height: 30px;
    /* grid-row: span 2; */
    /* height: 30px; */
}

.order3 {
    background-image: linear-gradient(203deg, lightblue 0%, yellowgreen 90%);
    border: 1px solid lightblue;
    /* padding: 4px;
    margin: 4px; */
    color: white;
    grid-row: span 2;
    min-height: 30px;
    /* grid-row: span 2; */
    /* height: 30px; */
}
.order4 {
    background-image: linear-gradient(203deg, darkblue 0%, violet 90%);
    border: 1px solid lightblue;
    /* padding: 4px;
    margin: 4px; */
    color: white;
    /* grid-row: span 2; */
    min-height: 30px;
    /* grid-row: span 2; */
    /* height: 30px; */
}

/* grid-column: 2 / span auto; */

.order10 {
    background-image: linear-gradient(203deg, #3edfd7 0%, #29a49d 90%);
    border: 1px solid lightblue;
    /* padding: 4px;
    margin: 4px; */
    color: white;
    min-height: 30px;

    grid-row: span 3;
    /* height: 30px; */
}
.order20 {
    background-image: linear-gradient(
        203deg,
        rgba(249, 198, 103, 1) 6%,
        rgba(247, 150, 33, 1) 89%
    );
    border: 1px solid lightblue;
    /* padding: 4px;
    margin: 4px; */
    color: white;
    min-height: 30px;
    /* grid-row: span 2; */
    /* height: 30px; */
}
