.reviewResponse {
    width: 70%;
}

.block {
    margin-bottom: 24px;
}

.response {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.send {
    margin: 10px 0;
    align-self: center;
}

.title {
    font-size: 24px;
    margin-bottom: 4px;
}

.feedbackText, .complainText {
    padding: 4px 11px;
    min-height: 32px;
    border: 1px #d9d9d9 solid;
    border-radius: 4px;
}

.complainText {
    margin-top: 10px;
    border: 1px var(--warning) solid;
}

.complain {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 0 14px 0;
    /* width: 70%; */
}

.complained {
    display: flex;
    background: rgba(var(--warningRGB), 0.3);
    flex-direction: column;
    padding: 14px;
    margin-top: 24px;
}

.closeComplain {
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 10px;
}

.complainBtn {
    margin: 14px 0 14px 14px;
    width: 200px;
}
