.total {
    display: flex;
    font-weight: bold;
    font-size: 18px;
    background: var(--static);
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    cursor: pointer;
}

.totalSum {
    margin-left: 8px;
    text-decoration: underline;
}

.totalDisabled {
    cursor: disabled;
}

.sumWrapper {
    font-weight: bold;
    height: 40px;
    padding: 0px 5px;
    display: flex;
    align-items: center;
}

.sumNumeral {
    margin-left: 8px;
}

.sum {
    display: flex;
    justify-content: space-between;
}

.total {
    align-items: flex-end;
    width: 100%;
}

.formItemWrap {
    display: flex;
    align-items: center;
}

.formItemWrap > div {
    margin-left: 10px;
}

.addProductItemWrap {
    margin: 0 5px;
    max-width: 180px;
}