.total {
    display: flex;
    font-weight: bold;
    font-size: 18px;
    background: var(--static);
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    cursor: pointer;
}

.totalSum {
    margin-left: 8px;
    text-decoration: underline;
}

.totalDisabled {
    cursor: disabled;
}

.sumWrapper {
    font-weight: bold;
    margin-right: 8px;
}

.sumNumeral {
    margin-left: 8px;
}

.sumBlock:global(.ant-form-item) {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px !important;
}

.sum {
    display: flex;
    flex: 0 1 37.5%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.total {
    align-items: flex-end;
    width: 100%;
}

.sumBlock :global(.ant-form-item-children) {
    flex-wrap: wrap;
}

.sum {
    flex: 1 1 auto;
    height: 29px;
    flex-wrap: nowrap;
}