.serviceTable td {
    vertical-align: top;
}

.headerActions {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sum :global(.ant-input-number-input[disabled]) {
    color: rgba(0, 0, 0, 1);
}

.deleteIcon {
    font-size: 18px;

    &:hover {
        color: var(--not_complete);
    }
}

.icon {
    font-size: 20px;
    color: var(--text3);
    cursor: pointer;
    padding: 1px;

    &:hover {
        color: var(--primary) !important;
    }
}

.ownIcon {
    padding: 0px 8px;
    &:hover > div {
        background-color: var(--primary) !important;
    }
}

.durationPanel {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}

.durationPanelItem {
    display: flex;
    flex: 0 1 47%;
}

.durationPanelItem :global(.ant-form-item-control-wrapper) {
    flex: 1 1 auto;
}

.serviceSelect {
    width: 220px;
}

.servicesRequiredFormItem:global(.ant-row.ant-form-item) {
    margin-bottom: 0px;
}

.numberColumn {
    text-align: right;
}

.serviceNumberInput input{
    text-align: right;
    padding-right: 25px;
}

.disabledIcon {
    font-size: 18px;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.25);
}