.sum :global(.ant-input-number-input[disabled]) {
    color: rgba(0, 0, 0, 1);
}

.deleteIcon {
    font-size: 18px;

    &:hover {
        color: var(--not_complete);
    }
}

.durationPanel {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}

.durationPanelItem {
    display: flex;
    flex: 0 1 47%;
}

.durationPanelItem :global(.ant-form-item-control-wrapper) {
    flex: 1 1 auto;
}

.serviceSelect {
    width: 220px;
}
