.mainCont {
    margin: 20px 40px 0 40px;
}

.analyticsCont {
    
    min-height: 2em;
    background-color: rgba(207, 223, 209, 0.513);
    margin: 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: stretch;
    margin-left: 4%;
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    height: 2.5em;
    padding-left: 5px;
}

.col, .colHeader, .colCentered, .colToRight {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
}

.colHeader {
    font-size: 1em;
    font-weight: bolder;
}

.colCentered {
    justify-content: center;
}

.colToRight {
    justify-content: right;
}

.notDefaultAnalyticsIcon {
    background-color: rgb(174, 194, 192);
    width: 8px;
    height: 8px;
    border-radius: 20%;
    margin-left: 2px;

    transition: width 600ms, height 600ms, margin-left 600ms, background-color 1s, border-radius 600ms;
}

.notDefaultAnalyticsIcon:hover {
    background-color: var(--primary);
    width: 15px;
    height: 15px;
    margin-left: 0px;
    border-radius: 100%;
    cursor: pointer;
}

