.mainCont {
    margin: 20px 40px 0 40px;
}

.analyticsCont {
    
    min-height: 2em;
    background-color: rgba(207, 223, 209, 0.513);
    margin: 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: stretch;
    margin-left: 4%;
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    height: 2.5em;
    padding-left: 5px;
}

.col, .colHeader, .colCentered, .colToRight {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
}

.colHeader {
    font-size: 1em;
    font-weight: bolder;
}

.colCentered {
    justify-content: center;
}

.colToRight {
    justify-content: right;
}


