.header {
    background: #f7f7f7;
    display: flex;
    flex: 1 1 100%;
    height: 64px;
    margin-top: 64px;
    position: fixed;
    z-index: 120;
    width: calc(100% - 256px);
    padding: 10px 16px;
    justify-content: space-between;
    align-items: center;
    /* transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; */
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

.headerMobile {
    margin-top: 0;
    width: 100%;
    position: fixed;
    height: 128px;
    z-index: 120;
}

.carBookHeaderBlock {
    font-size: 22px;
    width: 100%;
    height: 48px;
    background-color: var(--layout);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 10px 16px;
    color: #fff;
    display: flex;
    align-items: center;

    & > img.logo {
        height: 32px;
        position: absolute; 
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.headerMobileTitleBlock {
    background: #f7f7f7;
    display: flex;
    flex: 1 1 100%;
    height: 64px;
    padding: 10px 16px;
    justify-content: space-between;
    align-items: center;
    /* transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; */
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

.headerCollapsed {
    width: calc(100% - 80px);
}

@media screen and (max-width: 1199px) {
    .headerCollapsed {
        width: 100%;
    }
}

.headerInfo {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
}

.title {
    font-size: 24px;
    white-space: nowrap;
}

.description {
    color: #999;
}

.headerContorls {
    display: flex;
    align-items: center;
    /* flex: 1 1 auto;
    justify-content: space-between; */
}

@media screen and (max-width: 767px) {
    .title {
        font-size: 16px;
    }

    .description {
        font-size: 12px;
    }
}
