.filterContainer {
    background-color: rgb(231, 231, 231);
}

.fieldsCont {
    border: 2px solid black;
    border-left: 0;
}

.row {
    /* height: 2.0em; */
    margin: 0;
    padding: 0;
    
}

/* Contains controls */
.rowContainer {
    height: 2.0em;
    border: 1px solid rgb(199, 199, 199);
    text-align: center;
    border-left: 0;
    border-bottom: 0;
}

.filterBtn {
    width: 100%;
    background-color: rgba(76, 0, 130, 0.4);
}

.statusDropdown {
    width: 100%;
}