.pie {
    position: relative;
}

.pie .chart {
    position: relative;
}

.pie.hasLegend .chart {
    width: calc(100% - 240px);
}

.legend {
    position: absolute;
    right: 0;
    min-width: 200px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 20px;
    list-style: none;
    padding: 0;
}

.legend li {
    cursor: pointer;
    margin-bottom: 16px;
    height: 22px;
    line-height: 22px;
}

.legend li:last-child {
    margin-bottom: 0;
}

.dot {
    border-radius: 8px;
    display: inline-block;
    margin-right: 8px;
    position: relative;
    top: -1px;
    height: 8px;
    width: 8px;
}

.line {
    background-color: var(--lightGray);
    display: inline-block;
    margin-right: 8px;
    width: 1px;
    height: 16px;
}

.legendTitle {
    color: var(--primary);
}

.percent {
    color: var(--secondary);
}

.value {
    position: absolute;
    right: 0;
}

.title {
    margin-bottom: 8px;
}

.pieSubTitle > span {
    font-size: 18px;
    font-weight: bold;
}

.total {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    max-height: 62px;
    transform: translate(-50%, -50%);
}
.total > h4 {
    color: var(--secondary);
    font-size: 14px;
    line-height: 22px;
    height: 22px;
    margin-bottom: 8px;
    font-weight: normal;
}

.total > p {
    color: var(--primary);
    display: block;
    font-size: 1.2em;
    height: 32px;
    line-height: 32px;
    white-space: nowrap;
}

.legendBlock .hasLegend .chart {
    width: 100%;
    margin: 0 0 32px 0;
}
.legendBlock .legend {
    position: relative;
    transform: none;
}
