.modal:global(.ant-modal) {
    top: 40px;
}

.modal :global(.ant-modal-body) {
    padding: 12px 24px 12px;
}

.listTitle {
    font-size: 16px;
    color: var(--primary);
    font-weight: bold;
}

.listItem {
    cursor: pointer;
}

.listItem:hover {
    background-color: rgba(var(--secondaryRGB), 0.2);
}

.listItemActive {
    /* margin: 2px; */
    border-radius: 4px;
}

.listItemActive,
.listItemActive:hover {
    background-color: var(--secondary);
}

.listItemActive .chartListItem :global(.ant-list-item-meta-title) {
    color: var(--paletteColor2);
    font-weight: bold;
}
.listItemActive .chartListItem :global(.ant-list-item-meta-description) {
    color: var(--static);
}
