.npsInline {
    border-radius: 50px;
    text-align: center;
    font-size: 18px;
}

.npsBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 50px;
    border-radius: 8px;
    font-size: 32px;
}

.npsHigh {
    background: var(--secondary);
}

.npsMid {
    background: var(--approve);
}

.npsLow {
    background: var(--not_complete);
}

.npsScale {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.scale {
    display: inline-flex;
    flex-wrap: nowrap;
    border: 1px solid #526e82;
    flex: 1;
    justify-content: space-around;
}

.scaleLabel {
    margin-right: 10px;
    white-space: nowrap;
}

.scaleLabelTitle {
    font-weight: bold;
}

.scaleLabelData {
    color: var(--primary);
    font-weight: bold;
}

.scaleValue {
    margin: 0 auto;
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scaleValue:not(:last-child) {
    border-right: 1px solid #526e82;
}

.scaleValueFilled {
    color: #fff;
    background: var(--secondary);
}

.scaleValueFilled:nth-child(-n + 7).scaleValueFilled {
    background: var(--not_complete);
}

.scaleValueFilled:nth-child(n + 8):nth-child(-n + 9).scaleValueFilled {
    background: var(--approve);
}
