.filter_column_header_wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95px;
    width: 100%;
}

.statusDropdown {
    width: 100%;
}

.clientName {
    color: #001529;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
}