.generalInfoTab {
    padding: 24px 64px;
}

.saveButtonWrap {
    width: 100%;
    text-align: end;
}

.pricesTab {
    padding: 24px 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricesBlock {
    width: 100%;
    margin: 0 0 14px;
}

.pricesBlockRow {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 0 4px;
}

.pricesFieldLabel {
    margin-right: 8px;
    white-space: nowrap;
}

.pricesFieldCur {
    margin-left: 4px;
}

.pricesFieldCurHidden {
    margin-left: 4px;
    opacity: 0;
}

.pricesRadio {
    margin: 0px -24px 0 8px;
}

.pricesFieldDoubleRow {
    width: 55%;
    & input {
        text-align: right;
    }
    & :global(.ant-input-number):hover input {
        padding-right: 24px;
    }
}

.pricesFirstRow {
    display: flex;
    align-items: center;
}

.pricesField {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 55%;

    & input {
        text-align: right;
    }
    & :global(.ant-input-number):hover input {
        padding-right: 24px;
    }
}

.pricesFieldElement {
    width: 100%;
}

.pricesMarkupMargeWrap {
    display: flex;
    justify-content: space-between;
    margin: 4px 0 0;
}

.pricesMarkupMarge {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.storeTab {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 25%;
}

.storeTabRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 14px;
    align-items: center;
}

.storeFieldLabel {
    margin-right: 8px;
    white-space: nowrap;
    width: 50%;
}

.storeField {
    width: 50%;
}