.editClientRequisiteIcon {
    cursor: pointer;
    font-size: 25px;
}

.deleteClientRequisiteIcon {
    cursor: pointer;
    font-size: 25px;
}

.viewClientRequisiteIcon {
    cursor: pointer;
    font-size: 25px;
}

.title {
    margin-left: 5px;
    font-size: 22px;
    white-space: nowrap;
}

.header {
    margin-bottom: 15px;
}

.addClientRequisiteButton {
    width: 100%;
}
