.sider:global(.ant-layout-sider) {
    overflow: auto;
    z-index: 110;
    left: 0;
    height: 100%;
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

.siderMobile:global(.ant-layout-sider) {
    /* overflow: scroll;
    -webkit-overflow-scrolling: touch; */
    height: 100%;
}

.sider::-webkit-scrollbar {
    width: 5px;
}

.sider::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

.logo {
    color: white;
    padding: 22px;
    width: 256px;
    position: fixed;
    z-index: 1000;
    background-color: var(--layout);
}

.logoCollapsed {
    text-align: center;
    width: 80px;
}

.navMenu {
    margin-top: 60px; /* header height - 4px (nav menu item margin)*/
}

.navMenuMobile {
    margin-top: 12px;
}
