.form {
    padding: 14px;
}

.clientBlock,
.datePanel {
    /* background: var(--moduleHeader); */
    display: flex;
    justify-content: space-between;
}

.datePanelItem {
    /* flex: 0 1 30%;
    display: flex; */
}

.datePanelItem :global(.ant-form-item-control-wrapper) {
    flex: 1 1 auto;
}

:global(.ant-form-item-children) {
    display: flex;
}

.datePanelItem :global(.ant-calendar-picker) {
    flex: 1 1 auto;
}

.clientCol,
.autoCol {
    flex: 0 1 45%;
}

.client,
.auto {
    border-bottom: 1px solid black;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    height: 64px;
}

.client :global(.ant-row) {
    display: flex;
    flex: 1 1 100%;
    align-items: center;
    margin: 0;
}

.client :global(.ant-form-item-control-wrapper) {
    flex: 1 1 auto;
}

/* .client :global(.ant-input) {
    width: auto;
} */

.addClientIcon {
    font-size: 24px;
    cursor: pointer;
    color: var(--primary);
    font-weight: bold;
    margin-left: 10px;
}

.editClientIcon {
    font-size: 24px;
    cursor: pointer;
    color: var(--primary);
    font-weight: bold;
    margin-left: 10px;
}

.ecatBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ecatBlock :global(.ant-form-item) {
    flex: 0 1 49%;
    justify-content: flex-end;
}

.ecatBlock :global(.ant-form-item:last-child) {
    display: flex;
    align-items: flex-end;
}

.ecat {
    margin: 0 16px;
}

.totalBlock {
    display: flex;
    justify-content: space-between;
    /* background: var(--moduleHeader); */
    margin: 14px 0;
}

.totalBlockCol {
    flex: 0 1 45%;
}

.total {
    flex: 1 1 100%;
    text-align: right;
    font-size: 20px;
}

.totalSum {
    color: var(--paletteColor1);
    margin-left: 10px;
}

.mobileRecordFormFooter {
    display: flex;
    justify-content: space-around;
    margin: 24px 48px;
}

.mobileRecordSubmitBtn {
    margin: 0 10px;
}

.datePanelItem:global(.ant-time-picker) {
    width: 100%;
}

@media (max-width: 1599px) {
    .total {
        margin-top: 24px;
    }
}
.orderTaskModalButton {
    margin: 15px;
}

.mobileRecordFormTimePicker {
    width: 100%;
}
