.editRoleIcon {
    cursor: pointer;
    font-size: 25px;
}

.deleteRoleIcon {
    cursor: pointer;
    font-size: 25px;
}

.viewRoleIcon {
    cursor: pointer;
    font-size: 25px;
}

.addRoleButton {
    width: 30%;
    margin: 10px auto;
}
