.table {
    background-color: white;
    min-width: 0 !important;
}

.table :global(.ant-table-header) {
    text-transform: uppercase;
    min-width: 0 !important; /*IMPORTANT it solves antd table issue when scrolling is added*/
    font-size: 0.8em;
    font-style: bold;
    padding: 0;
}

.table :global(.ant-pagination) {
    float: none;
    justify-content: center;
    display: flex;
}

.table :global(th) {
    padding: 6px 4px 6px 4px !important; /*Remove bug: when text overflows, header shifts left*/
}

.clientPhone {
    color: var(--link);
    padding: 4px;
}

.filtersCont {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 5px;
    background-color: rgb(209, 209, 209);
}

.textCont {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    align-items: center;
}

.inputCont {
    width: 70%;
}