.row {
	display: flex;
	align-items: center;
}

.label {
	display: flex;
	align-items: center;
}

.content {
	display: flex;
	align-items: center;
	height: 4em;
}

.formItemStyle {
	margin: 0px !important;
	width: 100%;
}