.discountPanel {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
    font-size: 14px;
}

.formItem {
    display: flex;
    margin-left: 24px;
}

.servicesMarkup {
	float: left;
    margin-top: 12px;
}