.discountPanel {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
    font-size: 14px;
}

.formItem {
    display: flex;
    margin-left: 24px;
}

.servicesMarkup {
	float: left;
    margin-top: 12px;
}

.mobileFormItem {
    margin: 0 0 0 8px;
}

.mobileDiscountPanel {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0;
    border-top: 1px solid;
    margin: 10px 0 0;
}

.mobileDiscount {
    display: flex;
    align-items: center;
    height: fit-content;
}

.mobileSumBlock {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 14px;
    width: 100%;
}

.mobileSumRow {
    display: flex;
    justify-content: space-between;
    padding: 1px 0px;
}

.sumNumeral {
    margin-left: 8px;
    font-weight: 500;
}