.filtersBlock {
	    border-top: 1px solid #e8e8e8;
	    margin: 8px 0px;
	    padding: 8px 0px;
}

.filterElementWrap {
	display: flex;
    justify-content: space-between;
}

.radioGroup {
	width: 65%;
	& > * {
		display: block;
		width: 100%;
	}
}

.optionWithInput {
	width: 100%;

	& > *:nth-child(2) {
	    display: inline-flex;
	    align-items: center;
	    justify-content: space-between;
		width: 100%;
	}
}

.radioInput {
	display: inline-block;
	width: 220px;
}