.suggestionContainer {
    display: flex;
    flex-wrap: wrap;
}

.suggestionItem {
    margin: 0 2px;
}

.logo {
    width: 60px;
}

.attributesText {
    overflow: hidden;
    line-height: 1.2em;
    max-height: 3.6em;
    text-align: justify;
}

.tecdocTable :global(.ant-table tr td) {
    vertical-align: top;
}

